h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3rem ;
}
img{
    width: 10rem;
    float: right;; 
    margin: .9rem 0 .9rem .9rem; 
}
.citation{
    color: rgb(107, 96, 96);
    font-style:italic;
}
